{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h1 class="display-4 text-center my-4">BACKOFFICE</H1>

<p class="text-center">BienVenue sur l'espace Medecin</p>

<a href="{{path('app_admin_crud_rendez_vous')}}" class="col-md-6 offset-md-3 btn btn-dark">GESTION DES RENDEZ VOUS</a>

{<a href="{{path('app_admin_crud_dossier_medical')}}" class="col-md-6 offset-md-3 btn btn-dark">GESTION DES DOSSIERS MEDICAUX</a> #}

<a href="{{path('app_admin_crud_disponibilite')}}" class="col-md-6 offset-md-3 btn btn-dark">GESTION DISPONIBILITE</a>

<a href="{{path('app_admin_crud_membre')}}" class="col-md-6 offset-md-3 btn btn-dark">GESTION DES MEMBRES</a>

<a href="{{path('app_admin_crud_tchat')}}" class="col-md-6 offset-md-3 btn btn-dark">GESTION DES MESSAGES</a>

{% endblock %}
