{% extends 'base.html.twig' %}

{% block title %}Hello AdminCrudRendezVousCController!{% endblock %}

{% block body %}
    <h2>RendezVousC</h2>

    <table class="table table-bordered text-center mt3">
        <thead>
            <tr>
                <th>nom patient</th>
                <th>prenom patient</th>
                <th>nom medecin</th>
                <th>prenom medecin</th>
                <th>specialite</th>
                <th>nature rendez vous</th>
                <th>numero_voie</th>
                <th>voie</th>
                <th>date/heure</th>
                <th>departement</th>
                <th>code postale</th>
                <th>ville</th>
                <th>id patient</th>
                <th>id medecin</th>
            </tr>    
        </thead>
        <tbody>


            {% for info in rendezvous %}
                <tr>
                    <td>{{info.nom.patient}}</td>
                    <td>{{info.prenom.patient}}</td>
                    <td>{{info.nom.medecin}}</td>
                    <td>{{info.prenom.medecin}}</td>
                    <td>{{info.specialite}}</td>
                    <td>{{info.nature.rendezvous}}</td>
                    <td>{{info.numero.voie}}</td>
                    <td>{{info.voie}}</td>
                    <td>{{info.date}}</td>
                    <td>{{info.departement}}</td>
                    <td>{{info.code.postal}}</td>
                    <td>{{info.id.patient}}</td>
                    <td>{{info.id.medecin}}</td>
                <tr>
            {% endfor %}
        </tbody>
    </table>
                    
{% endblock %}
