{% extends '/base.html.twig' %}

{% block title %} Gestion des membres{% endblock %}

{% block body %}
<h2>Liste Membres</h2>
  
	<table>
	<h2>Patient</h2>
	<div class="card-body">
			
			<a class="text-white" href="{{path('app_registration', {param:"patient"})}}"><button class="btn btn-lg btn-warning" >ajouter patient
				
			</button></a>
			<a class="text-white" href="#"><button class="btn btn-lg btn-info" >modifier/supprimer patient
				
			</button></a>
		</div>
	</table>
	<table class="table table-bordered text-center mt3">
		 {# {% if membres is same as'patient' %}{ #}


     <thead>
		<th>prenom_patient</th>
        <th>nom_patient</th>
		<th>Categorie</th>
		<th>Age</th>
		<th>Telephone</th>
		<th>Sexe</th>
		<th>E-mail</th>
		<th>Password</th>
		<th>Taille</th>
        <th>Poids</th>
    </thead>

    <tbody>
    {% for membre in membres %}
        
    
    <tr>

      <td>{{membre.PrenomPatient}}</td>
    <td>{{membre.NomPatient}}</td>
	  <td>{{membre.Categorie}}</td>
      <td>{{membre.Age}}</td>
	  <td>{{membre.Telephone}}</td>
	  <td>{{membre.Sexe }}
      <td>{{membre.Email}}</td>
	  <td>{{membre.Password}}</td>
    <td>{{membre.Taille}}</td>
    <td>{{membre.Poids}}</td>
    </tr>
  {% endfor %} 
  
 </table>
	<table>
 <h2>Médecins</h2>
 <div class="card-body">
			
			<a class="text-white" href="{{path('app_registration', {param:"medecin"})}}"><button class="btn btn-lg btn-warning" >ajouter medecin
				
			</button></a>
			<a class="text-white" href="#"><button class="btn btn-lg btn-info" >modifier/supprimer medecin
				
			</button></a>
		</div>
	</table>
<table class="table table-bordered text-center mt3">

      <thead>
        <th>nom_medecin</th>
		<th>prenom_medecin</th>
		<th>E-mail</th>
		<th>Password</th>
		<th>Specialite</th>
		<th>Numero_voie</th>
		<th>Voie</th>
		<th>Ville</th>
		<th>code_postal</th>
		<th>region</th>
		<th>departement</th>
        <th>Rpps</th>
    </thead>

    <tbody>
    {% for membre in membres %}
        
    
    <tr>

      <td>{{membre.PrenomMedecin}}</td>
    <td>{{membre.NomMedecin}}</td>
      <td>{{membre.Email}}</td>
	  <td>{{membre.Password}}</td>
    <td>{{membre.Specialite}}
    <td>{{membre.NumeroVoie}}
	  <td>{{membre.Voie}}</td>
      <td>{{membre.CodePostal}}</td>
	  <td>{{membre.Region}}</td>
	  <td>{{membre.Departement}}</td> 
	  {# <td>{{membre.createdAt|date('d/m/Y à H:i:s') }} #}
	  {# <td>{{membre.telephone}}</td> #}
     <td>
   
	<a class=" btn btn-danger" onclick="return confirm('Voulez-vous supprimer ce membre ?')" href="{{path ('app_admin_crud_membre', {id: membre.id }) }}"><i class="fas fa-trash"></i></a></td> 
    
    
    
     </tr>
    {% endfor %} 
    {# {% endif %}  #}

   
    </tbody>

</table>  
{% endblock %}
